<!DOCTYPE html>
<html>
<head>
    <title>0ng</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- csrf -->
    <meta name="_csrf" content="$_csrf.token"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="$_csrf.headerName"/>

    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/pace.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/jBootsrapPage.css">

    <!-- js -->
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/pace.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/jBootstrapPage.js" type="text/javascript"></script>
    <script src="/js/csrf.js"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="/"><b>0 n</b> g</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/" data-hover="Home">Home</a></li>
                            <li class="cl-effect-11"><a href="/full" data-hover="Blog">Blog</a></li>
                            <li class="cl-effect-11"><a href="/about" data-hover="About">About</a></li>
                            <li class="cl-effect-11"><a href="/contact" data-hover="Contact">Contact</a></li>
                            #if($is_login)
                                <li class="cl-effect-11"><a href="javascript:$('#logout').submit();"
                                                            data-hover="Logout">Logout</a></li>
                            #else
                                <li class="cl-effect-11"><a href="/login" data-hover="Login">Login</a></li>
                            #end
                        </ul>
                        <form action="/logout" method="POST" id="logout">
                            <input type="hidden" name="_csrf" value="$_csrf.token" />
                            <input type="submit" hidden="hidden"/>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="/search">
                            <input type="search" placeholder="Search" name="search" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <div class="pull-right">
                <button class="btn btn-default" onclick="sendBlog();" >send blog！</button>
            </div>
            <main class="col-md-12" >
                <div id="articleDatas">

                </div>
                <div class="text-center">
                    <ul class="pagination"></ul>
                </div>
            </main>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy; 2016 Zero Branch Earning.com</p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/full">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            #if($is_login)
                <li><a href="javascript:$('#logout').submit();">Logout</a></li>
            #else
                <li><a href="/login">Login</a></li>
            #end
        </ul>
    </nav>
</div>

<script src="/js/script.js"></script>
<script src="/js/blog/full-width.js"></script>

</body>
</html>
