<!DOCTYPE html>
<html>
    <head>
        <title>$title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            $greeting
        </p>
        <p>
            $text1
        </p>
        <p>
            <a href="$baseUrl/activate?key=$user.activationKey">激活链接</a>
        </p>
        <p>
            <span>$text2 </span>
            <br/>
            <em>$signature</em>
        </p>
    </body>
</html>
