<!DOCTYPE html>
<html >
<head>
    <title >Ong</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p >
    您好!
</p>
<p>
    您的账号 $username 已经创建，感谢您注册0ng，祝您工作愉快！
</p>
<p>
    <a href="http://zbeboy.vicp.cc:8080/login" >立即登录！</a>
</p>
<p>
    <span >发送人, </span>
    <br/>
    <em >zbeboy.</em>
</p>
</body>
</html>
